
body {
    font-family: 'Myriad Pro', sans-serif;
    font-size: 24px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.width {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.header {
    height: 235px;
    background-color: #2d7053;
}

#logo {
    margin-left: 38px;
    margin-top: 48px;
    /* display: inline-block; */
}

h1 {
    display: inline-block;
    font-size: 30px;
    font-style: normal;
    color: #fff;
    margin-left: 55px;
    text-transform: capitalize;
}

#menu {
    margin-left: 230px;
    margin-bottom: 46px;
}

.appointment {
    position: relative;
}

.btn {
    border: none;
    outline: none;
    height: 74px;
    width: 340px;
    color: #fff;
    font-size: 24px;
    background-color: #cb9223;
    text-transform: uppercase;
}

.btn1 {
    position: absolute;
    right: 205px;
    top: 345px;
}

.btn2 {
    margin-left: 205px;
    margin-top: 20px;
    margin-bottom: 50px;
}

#photo {
    margin-top: 73px;
    margin-left: 45px;
}

.name {
    font-size: 34px;
    display: inline-block;
    margin-left: 70px;
    width: 280px;
    line-height: 16px;
    position: relative;
    top: -90px;
}

span {
    font-size: 24px;
}

.description {
    margin: 0;
    padding-left: 45px;
    padding-right: 75px;
}

h2 {
    font-size: 36px;
    padding-left: 45px;
}

ul {
    padding-left: 45px;
    list-style-type: '-';
}

.contacts {
    background-color: #888888;
    height: 153px;
}

.contacts img{
    width: 100px;
    margin-left: 45px;
    margin-top: 29px;
}

.contacts p {
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
}

#address {
    margin-left: 154px;
}

#other {
    margin-left: 37px;
    text-align: right;
    line-height: 45px;
}